
/* .header {
  width: 100%;
  height: 75px;
  background: #17141d;
  opacity: 0.95;
  overflow: hidden;
  -webkit-box-shadow: #333 1px 3px 4px;
  -moz-box-shadow: #333 1px 3px 4px;
  box-shadow: #333 1px 3px 4px;
} */


/* svg.line-top {
  width: 100%;
  background-color: #17141d;
} */
svg.line-bottom {
  width: 100%;
}
.menu {
  width: 750px;
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 10px 0 10px 0;
  width: 24.5%;
  height: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 3.5px;
  transition: all 0.5s ease-out;
  font-size: 16px;
}

li.active {
  color: rgb(5, 163, 255);
  transform: scale(1.1);
}

polygon {
  stroke-width: 2px;
  stroke: rgb(5, 163, 255);
  fill: rgb(5, 163, 255);
}

@media (max-device-width: 991px) {
  .header {
    height: 64px;
  }

  body {
    font-size: 0.4em;
  }
  .content {
    height: calc(100% - 64px);
  }
}